<div class="container-fluid">
	<form class="form-inline" *ngIf="isHe">
		<input class="form-control mr-sm-2" type="text"  placeholder="StationCode">
		<button class="btn btn-success" (click)="getemployeesbyStation($event)"  type="submit">Search</button>
	</form>
	<!-- <div></div> -->
	<div style="height: 600px;overflow: scroll;">
		<table id="t" class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>FirstName</th>
					<th>LastName</th>
					<div *ngIf="isHe">
						<th>Action</th>
					</div>
					<th>FatherName</th>
					<th>DOB</th>
					<th>StateCode</th>
					<th>LocationName</th>
					<th>Designation</th>
					<th>DOJ</th>
					<th>AccountNumber</th>
					<th>IFSC Code</th>
					<th>Bank Name</th>
					<th>Branch Name</th>
					<th>Aadhar Number</th>
					<th>PAN Status</th>
					<th>PAN Number</th>
					<th>DL/LR Status</th>
					<th>DL/LLR Number</th>
					<th>Vehicle Number</th>
					<th>Address ( D.No )</th>
					<th>Town/mandal</th>
					<th>City</th>
					<th>Mobile</th>
					<th>Alternate number</th>
					<th>Marital Status</th>
					<th>Blood Group</th>
					<th>Age</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let emp of employees;">
					<td [hidden]="isHide">{{emp.EmployeeId}}</td>
					<td>{{emp.FirstName}}</td>
					<td>{{emp.LastName}}</td>
					<div *ngIf="isHe">
						<td><input  #tablist id="{{emp.EmployeeId}}" (click)="toggleEditable($event)" type="checkbox" value=""/>
				</div>
						<td>{{emp.Guard_FullName}}</td>
						<td>{{emp.DOB}}</td>
						<td>{{emp.stationCode}}</td>
						<td>{{emp.locationName}}</td>
						<td>{{emp.Designation}}</td>
						<td>{{emp.DOJ}}</td>
						<td>{{emp.BankAccountNumber}}</td>
						<td>{{emp.IFSCCode}}</td>
						<td>{{emp.BankName}}</td>
						<td>{{emp.BranchName}}</td>
						<td>{{emp.Aadhar}}</td>
						<td>{{emp.PANStatus}}</td>
						<td>{{emp.PAN}}</td>
						<td>{{emp.DLLRStatus}}</td>
						<td>{{emp.DLLRNumber}}</td>
						<td>{{emp.VehicleNumber}}</td>
						<td>{{emp.Address1}}</td>
						<td>{{emp.Town}}</td>
						<td>{{emp.City}}</td>
						<td>{{emp.Phone}}</td>
						<td>{{emp.Guard_Phone}}</td>
						<td>{{emp.Marital}}</td>
						<td>{{emp.BloodGroup}}</td>
						<td>{{emp.Age}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container">
		<div class="row" *ngIf="isHe">
			<div class="row" *ngIf="isEvhe; else ehe">
				<div class="col" id="btns">
					<button  type="button" (click)="onAccept()" mat-raised-button color="primary" style="margin-right:10px;" >Confirm Employee</button>
				</div>
				<div class="col" id="btns">
					<button  type="button" mat-raised-button color="warn" (click)="onReject()" >Reject Employee</button>
				</div>
				<div class="col" id="btns">
					<button  type="button" mat-raised-button color="warn" style="margin-right:10px;" >Cancel</button>
				</div>
			</div>
		</div>
		<ng-template #ehe>
			<div class="row" *ngIf="!ishrvhe; else hrhhe">
				<div class="col">
					<button (click)="onDownload()"  type="button" mat-raised-button color="warn" >Download</button>
				</div>
				<div class="col">
					<button  type="button" mat-raised-button color="warn" style="margin-right:10px;" >Cancel</button>
				</div>
			</div>
		</ng-template>
		<ng-template #hrhhe>
			<div class="row">
				<div class="col">
					<button  type="button" mat-raised-button color="warn" >Submit</button>
				</div>
				<div class="col">
					<button  type="button" mat-raised-button color="warn" style="margin-right:10px;" >Cancel</button>
				</div>
			</div>
		</ng-template>

	</div>
</div>