<!-- Nav tabs -->

 
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" style="cursor:pointer;" role="tab"  href="#home">Personal Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" style="cursor:pointer;" role="tab"  href="#menu1">Address Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">Other Details</a>
  </li>
</ul>

<form >
<div class="tab-content">
  <div class="tab-pane container active" style="cursor:pointer;" role="tab"  id="home">home</div>
  <div class="tab-pane container fade"  style="cursor:pointer;" role="tab"  id="menu1">address</div>
  <div class="tab-pane container fade" style="cursor:pointer;" role="tab"  id="menu2">details</div>
</div>

<div class="row">
  <div class="col">
  <button type="submit" class="btn btn-primary" >Submit</button>
  </div>
    <div class="col">
  <button type="submit" class="btn btn-primary" >Cancel</button>
  </div>
</div>
</form>