<div class="container-fluid">
  <h1 class="text-primary"><u>Create Employee Form:</u></h1>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Personal Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Address Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Other Details</a>
  </li>
</ul>

  <div class="row">
<div class="tab-content" id="pills-tabContent">
  <form class="form-horizontal" [formGroup]="empForm2" (ngSubmit)="onSubmit()">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

    <mat-grid-list cols="2" rowHeight="100vh">
      <mat-grid-tile>
         <mat-form-field>
            <input type="text" formControlName="firstName" class="form-control" matInput placeholder="FirstName*">
            <mat-error>This field is mandatory</mat-error>
          </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
         <mat-form-field>
            <input type="text" name="middleName" formControlName="middleName" matInput placeholder="Middle Name" class="form-control">
           <mat-error>This field is mandatory</mat-error>
          </mat-form-field>
      </mat-grid-tile>
            <mat-grid-tile>
         <mat-form-field>
            <input type="text" name="lastName" formControlName="lastName" matInput placeholder="Last Name" class="form-control">
           <mat-error>This field is mandatory</mat-error>
          </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">..</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">......</div>
  </form>
</div>
</div>
    <div class="row">
                          <div class="col"> <button type="button" mat-raised-button color="primary" >Submit</button></div>
                          <div class="col"> <button type="button" mat-raised-button color="warn" >Cancel</button></div>
                        </div>

</div>