<div class="container-fluid">
  
    <app-logintab></app-logintab>


  <div class="jumbotron text-center" id="goal">
    <img style="height:140px;" src="https://github.com/RamTheeru/pds-demo/blob/master/src/app/images/visionandmission.jpg?raw=true" alt="">
  
  </div>
  <div class="row">
    <div class="col">
      <dl>
  <dt>VISION</dt>
  <dd>
PDS aims at building a larger portfolio of
Logistic services that brings in agility and
quick response to meet the requirements
of its clients and eventually emerging as
a full service logistics company providing
end to end services.
  </dd>

</dl>
    </div>
    <div class="col">
<dl>
  <dt>MISSION</dt>
  <dd>
  Our mission is to spread our business
tentacles to all parts of the Supply Chain
realm thereby providing effective,
engaging and learning opportunity to the
educated youth by way of offering a
rewarding and long term employment
opportunity.
</dd>
</dl>
    </div>
  </div>
</div>


