<div class="container-fluid">
	<div class="row">
		<app-loading [deliver]="load"></app-loading>
	</div>
	<div class="row">

		<select     [(ngModel)]="currentmonth" name="month" id="stat">
							<option value="0" selected>Select Month</option>
              	<option *ngFor="let s of months" [ngValue]="s.id">
								{{s.name}}
							</option>
    </select>
		<button class="btn btn-success" (click)="getemployeesbyMonth($event)"  type="submit">Search</button>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<!-- <th>S.No</th> -->
					<th>Employee Code</th>
					<th>Employee Name</th>
					<th>Delivery Count</th>
					<th>Standard Rate/Delivery</th>
					<th>Petrol Allowance</th>
					<th>Incentive</th>
					<th>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let emp of employees;">
					<td [hidden]="isHide"> {{emp.employeeId}}</td>
					<td>{{emp.empCode}}</td>
					<td>{{emp.firstName}}</td>
					<td><input type="text" #fil id="{{emp.employeeId}}" (focusout)="focusOutFunction('dvc',$event)" value="{{emp.delivery.deliveryCount}}"/></td>
					<td>{{standardRate}}</td>
					<td>{{petrolallowance}}</td>
					<td><input type="text" #fil id="{{emp.employeeId}}" (focusout)="focusOutFunction('inc',$event)" value="{{emp.delivery.incentive}}"/></td>
					<td>{{emp.totalAmount}} </td>

				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<div class="row" id="btnset">
			<button  type="button" mat-raised-button color="warn" style="margin-right:10px;" >Cancel</button>
			<button  type="button" mat-raised-button color="primary" (click)="Onsub()" >Submit</button>
		</div>
	</div>
</div>