<div class="container-fluid">
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Employee Code</th>
					<th>Employee Name</th>
					<th>Delivery Count</th>
					<th>Standard Rate/Delivery</th>
					<th>Incentive</th>
					<th>Total Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let emp of list;">
					<td> {{emp.Id}}</td>
					<td>{{emp.EmployeeCode}}</td>
					<td>{{emp.EmployeeName}}</td>
					<td><input type="text" id="{{emp.Id}}" (focusout)="focusOutFunction('dvc',$event)" value="{{emp.DeliveryCount}}"/></td>
					<td>{{emp.StandardRate}}</td>
					<td><input type="text" id="{{emp.EmployeeCode}}" (focusout)="focusOutFunction('inc',$event)" value="{{emp.Incentive}}"/></td>
					<td>{{emp.TotalAmount}} </td>

				</tr>
			</tbody>
		</table>
	</div>

	<div class="row">
		<div class="row" id="btnset">
			<button  type="button" mat-raised-button color="warn" style="margin-right:10px;" >Cancel</button>
			<button  type="button" mat-raised-button color="primary" (click)="Onsub()" >Submit</button>
		</div>
	</div>
</div>