.example-spacer {
  flex: 1 1 auto;
}
.p{
  width:100%;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/deep/ .mat-sidenav-transition .mat-sidenav-backdrop.mat-sidenav-shown {
  background-color: bisque;
}
mat-sidenav-container{
  height: 100%;
  margin-top: 49px;
   background-color: bisque;
}
mat-sidenav-content{
  width:100%;
  background-color: bisque;

}
mat-sidenav,mat-sidenav-content{
  padding:16px;
   background-color: bisque;
}
mat-sidenav{

  width:200px;
}