

<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Login Name of User</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>Logout</mat-icon>
    </button>
  </mat-toolbar>
</p>


<mat-sidenav-container class="example-container" >
  <mat-sidenav  opened>I'm a drawer</mat-sidenav>
  <mat-sidenav-content>I am content</mat-sidenav-content>
</mat-sidenav-container>

