<div class="container-fluid">
	<form class="form-inline">
		<input class="form-control mr-sm-2" type="text"  placeholder="StationCode">
		<button class="btn btn-success" (click)="getemployeesbyStation($event)"  type="submit">Search</button>
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>LoginType</th>
				<th>Designation</th>
				<th>StateCode</th>
				<th>LocationName</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let emp of employees;">
				<td [hidden]="isHide">{{emp.EmployeeId}}</td>
				<td>
					<div>
						<button
							(click)="onSalCreate($event)" id="{{emp.EmployeeId}}" >{{emp.FirstName}}</button>
					</div>
				</td>
				<td>{{emp.Phone}}</td>
				<td>{{emp.LoginType}}</td>
				<td>{{emp.Designation}}</td>
				<td>{{emp.StationCode}}</td>
				<td>{{emp.LocationName}}</td>
				<td> <button type="button" (click)="approveUser(emp)" class="btn btn-primary" ><b class="text-light" >Approve</b></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>