<div class="container-fluid">
	<form class="form-inline">
		<!-- <input class="form-control mr-sm-2" type="text"  placeholder="StationCode"> -->
		<select [(ngModel)]="selectedStation" name="station" id="stat">
							<option value="" selected>Select Station</option>
              	<option *ngFor="let s of stations" [ngValue]="s.stationId">
								{{s.stationName}}
							</option>
    </select>
		<button class="btn btn-success" (click)="getemployeesbyStation($event)"  type="submit">Search</button>
	</form>
	<!-- <p></p> -->

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>LoginType</th>
				<th>StateCode</th>
				<th>LocationName</th>
				<div *ngIf="!isHE">
					<th>EmployeeCode</th>
				</div>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let emp of employees;">
				<td [hidden]="isHide">{{emp.EmployeeId}}</td>
				<td> {{emp.FirstName}}</td>
				<td>{{emp.Phone}}</td>
				<td>{{emp.Login}}</td>
				<td>{{emp.StationCode}}</td>
				<td>{{emp.LocationName}}</td>
				<div *ngIf="!isHE">
					<td><input [(ngModel)]="empCode"  id="{{emp.EmployeeId}}"  type="text" value=""/></td>
				</div>
				<td>
					<div *ngIf="isHE; else reg">
						<button type="button"
            (click)="onSalCreate($event)" id="{{emp.EmployeeId}}" >Generate Salary</button>
					</div>
					<ng-template #reg>
						<button type="button" (click)="approveUser(emp)" class="btn btn-primary" ><b class="text-light" >Approve</b>
          </button>
					</ng-template>
				</td>
			</tr>
		</tbody>
	</table>
</div>