<div class="container-fluid">
	<div class="row">
		<div class="col">
			<mat-form-field>
				<mat-label>CTC</mat-label>
				<input type="text" name="phone" matInput (focusout)="focusOutFunction('ctc',$event)" formControlName="phone" placeholder="CTC*" class="form-control">
				<mat-error>This field is mandatory</mat-error>
			</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-label>CHRA</mat-label>
				<input type="text" name="phone" matInput  formControlName="phone" placeholder="HRA*" class="form-control">
				<mat-error>This field is mandatory</mat-error>
			</mat-form-field>
		</div>
	</div>
	<div class="row">
		<!-- <label>Select Employee:</label>
		<mat-form-field class="inpt">
			<mat-select [(ngModel)]="emp" name="emp" aria-placeholder="Select Employee" class="form-control">
				<mat-option value="atp">Ram</mat-option>
				<mat-option value="gtk">Ravi</mat-option>
			</mat-select>
		</mat-form-field> -->
	</div>
	<div class="row">
		<mat-dialog-actions align="end">
			<button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
			<button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Save</button>
		</mat-dialog-actions>
	</div>
</div>