<div class="container-fluid">
	<div class="row">
		<!-- <label>Select Location:</label> -->

		<!-- <mat-form-field class="inpt">

					<input type="text" formControlName="lmcredit" class="form-control" matInput placeholder="Last Month's Credit*">
					<mat-error>This field is mandatory</mat-error>
				</mat-form-field> -->

		<!-- <mat-form-field class="inpt">
			<mat-select [(ngModel)]="location" name="location" aria-placeholder="Select Location" class="form-control">
				<mat-option value="">Select Location</mat-option>
				<mat-option value="atp">Anantapur</mat-option>
				<mat-option value="gtk">Guntakal</mat-option>
			</mat-select>
		</mat-form-field> -->
	</div>
</div>