  <mat-toolbar>
   <app-loading [deliver]="loaded"  ></app-loading>
 
  <h1 class="text-primary"><u>Employee Registration Form:</u></h1>
   <button type="submit" style="float:right;background-color:blue;" ><a routerLink="/home"><b class="text-light" >Go to Home >></b></a></button>
 
  <!-- <a role="button" routerLink="/home" style="float:right;" ><span class="badge badge-primary"><b>Go to Home</b></span></a> -->
   <form class="form-horizontal" [formGroup]="empForm" (ngSubmit)="onSubmit()" role="form">
  
 <mat-grid-list cols="2" rowHeight="300px">
<mat-grid-tile>
<div class="contrl-cont">
 
  <mat-form-field>
    <input type="text" formControlName="fullname" matInput placeholder="Full Name*">
    <mat-error>This field is mandatory</mat-error>
  </mat-form-field>
    <mat-form-field>
    <input type="text" formControlName="email" matInput placeholder="Email">
    <mat-error>Invalid Email address</mat-error>
  </mat-form-field>
    <mat-form-field>
    <input type="text" formControlName="phone" matInput placeholder="Phone*">
    <mat-error *ngIf="empServ.form.controls['phone'].errors?.required">this field is mandatory</mat-error>
        <mat-error *ngIf="empServ.form.controls['phone'].errors?.minlength">minimum 10 characters needed</mat-error>
  </mat-form-field>
    <mat-form-field>
    <input type="text" formControlName="city" matInput placeholder="City">
  </mat-form-field>
</div>
</mat-grid-tile>
<mat-grid-tile>
  <div class="control-cont">
    <div class="add-bottom-padding">
      <mat-radio-group formControlName="gender">
          <mat-radio-button value="1">Male</mat-radio-button>
          <mat-radio-button value="2">Female</mat-radio-button>
      </mat-radio-group>
    </div>
      <mat-form-field>
    <mat-select formControlName="department"  aria-placeholder="Department" >
      <mat-option value="0">None</mat-option>
      <ng-container *ngFor="let dep of depServ.array">
        <mat-option value="{{dep.$key}}">{{dep.name}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
      <!-- <mat-form-field>
    <input  formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date">
    <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  <div class="add-bottom-padding">
  <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
</div>
<div class="button-row">
  <button mat-raised-button color="primary" type="submit" [disabled]="empServ.form.invalid">Submit</button> 
   <button mat-raised-button color="warn" (click)="onClear()" >Clear</button> 
</div>
  </div>

</mat-grid-tile>
</mat-grid-list>

</form>
</mat-toolbar>

